@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --black: rgb(40, 35, 34);
  --red: rgba(219, 67, 50, 0.897);
  --offRed: rgba(255, 25, 0, 0.75);
  --blue: rgba(0, 157, 255, 0.812);
  --white: rgb(255, 255, 255);
  --offWhite: rgba(255, 255, 255, 0.7);
  --gray: rgb(121, 121, 121);
  --light-gray: rgba(240, 240, 240, 0.6);
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, var(--red), var(--offRed),var(--red));
  color: var(--white);
  font-family: 'Roboto Condensed', sans-serif;
  margin:0;
  height: auto;
}
a{
  color: var(--black);
  text-decoration: none;
}
a:hover{
  color: #ccc;
  font-weight: 600;
}
 h2 {
   font-size: 2rem;
 }
 h3{
   font-size: 1.5rem;
 }

.main {
/* display: grid;
justify-content: center; */
}

.container__section {
  min-height: 60vh;
}

.container {
  display: grid;
  justify-items: center;
  min-height: 20vh;
  padding: 2rem;
  width:100%;
}

/* NAV */
.nav{
  background: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  padding:.5rem;
  position: fixed;
  width: 100%;
}
.nav__title{
  color: var(--white);
  text-decoration: none;
}
.nav__link__container{
  display: grid;
  grid-gap:.5rem;
  grid-template-columns: repeat(3,auto);
  justify-content: end;
  padding-right: 1rem;
}
.nav__link {
  clear:right;
  color: var(--white);
  text-decoration: none;
}
.nav__link:hover {
  color: #ccc;
  font-weight: 600;
}
#toggle {
  display: none;
}
.hamburger {
  color: var(--offWhite);
  /* margin: 0 40px 0 0; */
  font-size: 2rem;
  line-height: 70px;
  display: none;
  /* width: 26px; */
  float: right;
}

/* LANDING SECTION */

.container__landing {
  top:200px;
  display:grid;
  justify-content: end;
  border-bottom: 1px solid var(--offWhite);
  min-height: 90vh;
  align-content: end;
  
}

.landing__title{
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -.3rem;
  margin:0;
  padding: 0;
}

/* PROJECTS */
  .container__projects{
    border-bottom: 1px solid var(--offWhite);
    min-height: 40vh;
  }

 .project {
      /* border: .5px solid var(--white);
      border-radius: .5rem; */
      
      display: grid;
      grid-gap:.5rem;
      grid-template-columns: repeat(2,auto);
      justify-content: space-around;
      margin: .5rem;
      margin-bottom: 1rem;
      padding: 2rem;
      width:90vw;
  }
.app-button {
  background-color: none;
  border: .5px solid var(--offWhite);
  border-radius:.3rem;
  color: var(--white);
  min-width: 30vw;
  padding: .2rem;
  text-align: center;
}
.app-button:hover {
  background-color: var(--offWhite);
  color: var(--gray)
}
.app-code {
  background-color: none;
  border: .5px solid var(--offWhite);
  border-radius:.3rem;
  color: var(--white);
  min-width: 30vw;
  padding: .2rem;
  text-align: center;
}
.app-code:hover {
  background-color: var(--offWhite);
  color: var(--gray);
}
/* ABOUT */
.container__about{
  border-bottom: 1px solid var(--white);
  display: grid;
  justify-items: center;
  padding: 2rem;
}
.about__header {
  margin-bottom: 2rem;
}
.container__skills {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6,95px);
  justify-content: center;
  padding: 1rem;
}

.skill {
  /* background-color: var(--light-gray); */
  border: .5px solid var(--offWhite);
  border-radius:.3rem;
  text-align: center;
}
.skill:hover {
  color: var(--black);
  background: var(--white);
}


/* FOOTER */
.footer__container {
  border-top: 1px solid var(--offWhite);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: auto;
}

.footer__container h4{
  font-size: 2rem;
  margin-bottom: 0;
  padding: 1rem;
}

.footer__link {
  color: var(--offWhite);
}
.footer__link:hover {
  color: var(--white);
}



/* MEDIA QUERIES */

/* Screen Sizes 700px and Up */

@media(max-width: 800px){

  .container__skills {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,95px);
    justify-content: center;
  }

}

/* Screen Sizes 500px and Up */
@media(max-width: 500px){
  .container__skills {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
  }
  .skill {
    border: .5px solid var(--white);
    border-radius:.3rem;
    padding: .25rem;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;   
  }
.nav{
  padding:0;
  width: 100%;
  margin:0;
}

.home__link {
  display: none;
}

.nav_menu {
    text-align: center;
    width: 100vw;
    margin:0;
    display: none;
}

.nav_menu a {
    
    display: block;
    /* border-bottom: 1px solid #EAEAEB; */
    margin:0;
}
#toggle:checked + .nav_menu {
    display: block;
    background-color: rgba(255,255,255,.8)
}

}