@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --black: rgba(32, 30, 30, 0.9);
  --red: rgba(255, 25, 0, 0.897);
  --offRed: rgba(255, 25, 0, 0.75);
  --blue: rgba(0, 157, 255, 0.812);
  --white: rgba(241, 240, 240,.9);
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, var(--red), var(--offRed),var(--red));
  color: var(--white);
  font-family: 'Roboto Condensed', sans-serif;
  margin:0;
  height: auto;
}
 h2 {
   font-size: 2rem;
 }

.main {
/* display: grid;
justify-content: center; */
}

/* NAV */
.nav{
  background: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  padding:.5rem;
  position: fixed;
  width: 100%;
}
.nav__title{
  color: var(--white);
  text-decoration: none;
}
.nav__link__container{
  display: grid;
  grid-gap:.5rem;
  grid-template-columns: repeat(3,auto);
  justify-content: end;
  padding-right: 1rem;
}
.nav__link {
  color: var(--white);
  text-decoration: none;
}
.nav__link:hover {
  color: #f4f4f4;
  font-weight: 600;
}
.home__link {
  
}

/* LANDING SECTION */
.container {
  display: grid;
  justify-items: center;
  min-height: 20vh;
  padding: 2rem;
  width:100%;
}

.container__landing {
  top:200px;
  display:grid;
  justify-content: end;
  border-bottom: 1px solid var(--white);
  min-height: 50vh;
  align-content: end;
  
}

.landing__title{
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  margin:0;
}

/* PROJECTS */
  .container__projects{
    border-bottom: 1px solid var(--white);
    min-height: 40vh;
  }

/* ABOUT */
.container__about{
  border-bottom: 1px solid var(--white);
  display: grid;
  justify-items: center;
  padding: 2rem;
}
.container__skills {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6,95px);
  justify-content: center;
  padding: 1rem;
}

.skill {
  border: .5px solid var(--white);
  border-radius:.3rem;
  text-align: center;
}
.skill:hover {
  background: var(--offred);
}


/* FOOTER */
.footer__container {
  border-top: 1px solid var(--white);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: auto;
}

.footer__container h4{
  font-size: 2rem;
  margin-bottom: 0;
  padding: 1rem;
}

.footer__link {
  color: var(--white);
}



/* MEDIA QUERIES */

/* Screen Sizes 700px and Up */

@media(max-width: 700px){

  .container__skills {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,95px);
    justify-content: center;
  }

}

/* Screen Sizes 500px and Up */
@media(max-width: 500px){
  .container__skills {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
  }
  .skill {
    border: .5px solid var(--white);
    border-radius:.3rem;
    padding: .25rem;
    text-align: center;
  }
}